.column {
    margin: 1em auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.h1 {
    font-family: 'Press Start 2P', sans-serif;
    margin: 0 auto;
    font-size: 3em;
}

.game {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}
